solfångare/solfångare_prod.json
[{"id":"dedb85dc.b133d8","type":"tab","label":"solfångare - PROD","disabled":true,"info":""},{"id":"710c3989.cfec58","type":"ui_gauge","z":"dedb85dc.b133d8","name":"","group":"f642339a.d5755","order":1,"width":6,"height":5,"gtype":"gage","title":"RTD_1_1","label":"°C","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1320,"y":600,"wires":[]},{"id":"11da4b16.d64ef5","type":"ui_gauge","z":"dedb85dc.b133d8","name":"","group":"d21675f5.4d9908","order":1,"width":6,"height":5,"gtype":"gage","title":"RTD_1_2","label":"°C","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1320,"y":740,"wires":[]},{"id":"c2758ee1.f0939","type":"ui_gauge","z":"dedb85dc.b133d8","name":"","group":"e5b51cb5.75436","order":2,"width":6,"height":5,"gtype":"gage","title":"RTD_1_8","label":"°C","format":"{{value}}","min":"-30","max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1320,"y":860,"wires":[]},{"id":"d75976cd.56d598","type":"inject","z":"dedb85dc.b133d8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":740,"wires":[["666d6b85.b98334","7ab9646b.d29c7c"]]},{"id":"666d6b85.b98334","type":"delay","z":"dedb85dc.b133d8","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":290,"y":800,"wires":[["4dd4b64f.226968","260d19cf.378d66"]]},{"id":"260d19cf.378d66","type":"delay","z":"dedb85dc.b133d8","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":290,"y":880,"wires":[["fb733239.bcd95","ae8cbbd1.1eab78"]]},{"id":"a53e7b1d.153d58","type":"smooth","z":"dedb85dc.b133d8","name":"","property":"payload","action":"mean","count":"1","round":"1","mult":"single","reduce":false,"x":880,"y":880,"wires":[["42911ca4.0c3af4","c2758ee1.f0939"]]},{"id":"42911ca4.0c3af4","type":"change","z":"dedb85dc.b133d8","name":"","rules":[{"t":"set","p":"RTD_1_8","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":880,"wires":[[]]},{"id":"fb733239.bcd95","type":"rtd","z":"dedb85dc.b133d8","name":"RTD_1_8","stack":"1","channel":"8","resistance":false,"payload":"payload","payloadType":"msg","x":520,"y":800,"wires":[["22c312fd.84b5ae","3d56b47d53e60304"]]},{"id":"34c9011b.221d8e","type":"smooth","z":"dedb85dc.b133d8","name":"","property":"payload","action":"mean","count":"1","round":"1","mult":"single","reduce":false,"x":880,"y":740,"wires":[["5e259d23.e16e04","11da4b16.d64ef5"]]},{"id":"5e259d23.e16e04","type":"change","z":"dedb85dc.b133d8","name":"","rules":[{"t":"set","p":"RTD_1_7","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":740,"wires":[[]]},{"id":"4dd4b64f.226968","type":"rtd","z":"dedb85dc.b133d8","name":"RTD_1_7","stack":"1","channel":"7","resistance":false,"payload":"payload","payloadType":"msg","x":520,"y":660,"wires":[["36599739.60f868","24c291b5d6cc089f"]]},{"id":"823d4324.1686","type":"smooth","z":"dedb85dc.b133d8","name":"","property":"payload","action":"mean","count":"1","round":"1","mult":"single","reduce":false,"x":880,"y":600,"wires":[["cd22aa05.c94ec8","710c3989.cfec58","a16eaeb6.4bd1"]]},{"id":"cd22aa05.c94ec8","type":"change","z":"dedb85dc.b133d8","name":"","rules":[{"t":"set","p":"RTD_1_6","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":600,"wires":[[]]},{"id":"7ab9646b.d29c7c","type":"rtd","z":"dedb85dc.b133d8","name":"RTD_1_6","stack":"1","channel":"6","resistance":false,"payload":"payload","payloadType":"msg","x":520,"y":540,"wires":[["95312730.bfcb98","84182f2d.86921"]]},{"id":"ae8cbbd1.1eab78","type":"delay","z":"dedb85dc.b133d8","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":290,"y":960,"wires":[["5f352c5c.66f764"]]},{"id":"e0e23fa6.cdeae","type":"debug","z":"dedb85dc.b133d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1190,"y":1000,"wires":[]},{"id":"5f352c5c.66f764","type":"function","z":"dedb85dc.b133d8","name":"primär solfångarlogik","func":"\n\ntry{\nnode.status({fill:\"blue\",shape:\"ring\",text:\"run\"});    \n\n\t//var T1 = flow.get(\"T1\"); //Kollektor\n\t//var T2 = flow.get(\"T2\"); //Tank_top\n\t//var T3 = flow.get(\"T3\"); //Tank_bottom\n\t//var set_temp_tank_1 = 65; \n\t//var dTStart_tank_1 = 7; \n\t//var dTStop_tank_1 = 3; \n\tvar T1 = flow.get(\"RTD_1_6_smooth\"); //Kollektor\n\tvar T2 = flow.get(\"RTD_1_7_smooth\"); //Tank_bottom\n\tvar T3 = flow.get(\"RTD_1_8_smooth\"); //Tank_top\n\tvar set_temp_tank_1 = flow.get(\"set_temp_tank_1\"); // Maximal temperatur i tanken under normal drift. (Inställbar 15 °C till 90 °C med fabriksinställning 65 °C)\n\tvar dTStart_tank_1 = flow.get(\"dTStart_tank_1\"); // Temperaturdifferens mellan kollektor (T1) och Tank1 (T2) vid vilken pumpen startar laddnig mot tanken. (Inställbar 3 °C till 40 °C med fabriksinställning 7 °C)\n\tvar dTStop_tank_1 = flow.get(\"dTStop_tank_1\"); // Temperaturdifferens mellan kollektor (T1) och Tank1 (T2) vid vilken pumpen stannar. (Inställbar 2 till (Set tank1 -2 °C) med fabriksinställning 3 °C)\n\tvar temp_kok = flow.get(\"temp_kok\");\n\tvar temp_kok_reset = (temp_kok - 10)\n\tvar kylning_kollektor = flow.get(\"kylning_kollektor\");\n//\tvar temp_kok = 140;\n//\tvar kylning_kollektor = 95;\n\tvar state = flow.get(\"state\")||0;\n\tvar sub_state = flow.get(\"sub_state\")||0;\n\tvar solfangare_manuell_styrning = flow.get(\"solfangare_manuell_styrning\");\n    var pump_solfangare = flow.get(\"pump_solfangare\");\n    var dT_running;\n\tvar dT_running_nice;\n\tvar mode = flow.get(\"mode\");\n\tvar overheated = false;\n\n\tvar dT = T1-T2;\n\tvar dT_nice = parseFloat(dT.toFixed(2));\n\tvar pump = flow.get(\"pump\")||false;\n\n\tvar msg1 = {};\n\tvar msg2 = {};\n\tvar msg3 = {};\n\tvar msg4 = {};\n\tvar msg5 = {};\n\t\n//===============================================================//\n//==skapar en entitet för att mäta energimängd när pumpen är på==//\n\tif (pump === true){\n\t  dT_running =  T1-T2;\n\t  dT_running_nice = parseFloat(dT_running.toFixed(2));\n\t}\n\telse{\n\t    dT_running =  0;\n\t    dT_running_nice = parseFloat(dT_running.toFixed(2));\n\t}\n//===============================================================//\n\n//===============================================================//\n\tif (T1 >= temp_kok && overheated == false){\n    \toverheated = true;\n    \tflow.set(\"mode\", \"20\");\n       \tflow.set(\"temp_kok_reset\", temp_kok_reset);\n       \tflow.set(\"overheated\", overheated);\n       \tnode.status({fill:\"green\",shape:\"dot\",text:\"20\"});\n\t}\n    // @ts-ignore\n    else if(overheated == true && T1 < 140 ){\n\t\toverheated = false;\n\t\tflow.set(\"mode\", \"21\")\n\t\tflow.set(\"state\", 0)\n\t\tflow.set(\"temp_kok_reset\", temp_kok_reset)\n\t\tflow.set(\"overheated\", overheated);\n\t\tnode.status({fill:\"green\",shape:\"dot\",text:\"21\"});    \n\t}\n//===============================================================//\n\n\n//===============================================================//\n\tif (solfangare_manuell_styrning === true){\n        if (pump_solfangare === true){\n            pump = true;\n            //mode = 06;\n            flow.set(\"mode\", \"06\")\n            flow.set(\"state\", 0)\n\t\t    flow.set(\"sub_state\", 6)\n\t\t    node.status({fill:\"green\",shape:\"dot\",text:\"06\"});\n        }\n        else{\n            pump = false;\n            //mode = 07;\n            flow.set(\"mode\", \"07\")\n\t\t    flow.set(\"pump\", pump);\n\t\t    flow.set(\"state\", 0)\n\t\t    flow.set(\"sub_state\", 7)\n\t\t    node.status({fill:\"green\",shape:\"dot\",text:\"07\"});\n        }\n    }\n    else{\n       \t//Om pumpen är av(state 0) eller om pumpen är på pga \"dra fram vatten impuls\"  \n    \tif ((state == 0 && overheated === false) || (state == 1 && sub_state == 1 && overheated === false)){\n    \t\tnode.status({fill:\"green\",shape:\"ring\",text:\"1\"});\n    \t\t//starta pumpen om dT är lika med eller större än satt nivå och T2 är under satt nivå\n    \t\tif(dT >= dTStart_tank_1 && T2 <= set_temp_tank_1 ){\n    \t\t\tpump = true;\n    \t\t\t//mode = 12;\n    \t\t\tflow.set(\"mode\", \"12\")\n    \t\t\tflow.set(\"pump\", pump);\n    \t\t\tflow.set(\"state\", 1)\n    \t\t\tflow.set(\"sub_state\", 2)\n    \t\t\tnode.status({fill:\"green\",shape:\"dot\",text:\"12\"});\n    \t\t}\n    \t\t//starta pump om kollektor blir för varm men inte om den överstiger \"temp_kok\" grader\n    \t\telse if(T1 >= kylning_kollektor){\n    \t\t\tpump = true;\n    \t\t\t//mode = 13;\n    \t\t\tflow.set(\"mode\", \"13\")\n    \t\t\tflow.set(\"pump\", pump);\n    \t\t\tflow.set(\"state\", 1)\n    \t\t\tflow.set(\"sub_state\", 3)\n    \t\t\tnode.status({fill:\"green\",shape:\"dot\",text:\"13\"});\n    \t\t}\n    \t\telse{\n    \t\t    node.status({fill:\"green\",shape:\"dot\",text:\"pump av\"});\n    \t\t}\n    \t}\n    \t//Om pumpen är på men inte om  \"dra fram vatten impuls\" är igång\n    \tif (state == 1 && !(state == 1 && sub_state == 1)){\n    \t\tnode.status({fill:\"green\",shape:\"ring\",text:\"0\"});\n    \t\t//stoppa pumpen när dT går under satt nivå\n    \t\tif(dT <= dTStop_tank_1 ){\n    \t\t\tpump = false;\n    \t\t\t//mode = 02;\n    \t\t\tflow.set(\"mode\", \"02\")\n    \t\t\tflow.set(\"pump\", pump);\n    \t\t\tflow.set(\"state\", 0)\n    \t\t\tflow.set(\"sub_state\", 2)\n    \t\t\tnode.status({fill:\"green\",shape:\"dot\",text:\"02\"});\n    \t\t}\n    \t\t//stoppa pumpen när den nåt rätt nivå och kollektor inte är för varm\n    \t\telse if(T2 >= set_temp_tank_1+2 && T1 <= kylning_kollektor){\n    \t\t\tpump = false;\n    \t\t\t//mode = 03;\n    \t\t\tflow.set(\"mode\", \"03\")\n    \t\t\tflow.set(\"pump\", pump);\n    \t\t\tflow.set(\"state\", 0)\n    \t\t\tflow.set(\"sub_state\", 3)\n    \t\t\tnode.status({fill:\"green\",shape:\"dot\",text:\"03\"});\n    \t\t}\n    \t\t//stoppa pumpen när kollektor har börjat koka\n    \t\telse if(T1 >= temp_kok ){\n    \t\t\tpump = false;\n    \t\t\t//mode = 04;\n    \t\t\toverheated = true;\n    \t\t\tflow.set(\"overheated\", overheated);\n    \t\t\tflow.set(\"mode\", \"04\")\n    \t\t\tflow.set(\"pump\", pump);\n    \t\t\tflow.set(\"state\", 0)\n    \t\t\tflow.set(\"sub_state\", 4)\n    \t\t\tnode.status({fill:\"green\",shape:\"dot\",text:\"04\"});\n    \t\t}\n    \t\telse{\n    \t\t    node.status({fill:\"green\",shape:\"dot\",text:\"pump på\"});\n    \t\t}\n    \t} \n    }\n\n    \n\n\tmsg1.payload = pump;\n//\tmsg2.payload = {\n//\t\t\t\"T1\": T1,\n//\t\t\t\"T2\": T2,\n//\t\t\t\"T3\": T3,\n//\t\t\t\"dT\": dT_nice,\n//\t\t\t\"dT_running\": dT_running_nice,\n//\t\t\t\"Pump\": pump,\n//\t\t\t\"set_temp_tank_1\": set_temp_tank_1,\n//\t\t\t\"dTStart_tank_1\": dTStart_tank_1,\n//\t\t\t\"dTStop_tank_1\": dTStop_tank_1,\n//\t\t\t\"state\": state,\n//\t\t\t\"sub_state\": sub_state,\n//\t\t\t\"temp_kok\": temp_kok,\n//\t        \"kylning_kollektor\": kylning_kollektor,\n//\t\t\t\n//}\n\t\tmsg2.payload = {\n\t\t\t\"Pump\": pump,\n\t\t\t\"state\": state,\n\t\t\t\"sub_state\": sub_state,\n\t\t\t\"mode\": mode,\n\t\t\t\"overheated\": overheated,\n\t\t};\n\tmsg3.payload = dT_nice;\n\tmsg4.payload = state;\n\tmsg5.payload = sub_state;\n\n\treturn [msg1,msg2,msg3,msg4,msg5];\n}\n\ncatch(err){\n    node.error(err)\n    node.status({fill:\"red\",shape:\"ring\",text:\"error\"});\n}\n","outputs":5,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":960,"wires":[["52c7f168.37bed","bef35a8a.5a92c8"],["e0e23fa6.cdeae","ace37eac.08ce2"],[],[],[]]},{"id":"96fed653.bc82f8","type":"change","z":"dedb85dc.b133d8","name":"","rules":[{"t":"set","p":"set_temp_tank_1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":60,"wires":[["4c151dba.2c8494"]]},{"id":"dd435ee1.6c884","type":"change","z":"dedb85dc.b133d8","name":"","rules":[{"t":"set","p":"dTStart_tank_1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":120,"wires":[["4c151dba.2c8494"]]},{"id":"5fb2c00c.816dd","type":"change","z":"dedb85dc.b133d8","name":"","rules":[{"t":"set","p":"dTStop_tank_1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":180,"wires":[["4c151dba.2c8494"]]},{"id":"52c7f168.37bed","type":"ui_switch","z":"dedb85dc.b133d8","name":"","label":"Pump","tooltip":"","group":"513aa4ac.56bf6c","order":5,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1210,"y":920,"wires":[[]]},{"id":"6fea03cd.ac454c","type":"function","z":"dedb85dc.b133d8","d":true,"name":"dra fram vatten impuls","func":"try{\nnode.status({fill:\"blue\",shape:\"ring\",text:\"run\"});    \n\tvar state = flow.get(\"state\")||0;\n\tvar sub_state = flow.get(\"sub_state\")||0;\n\tvar sun = flow.get(\"sun\");\n\tvar pump = flow.get(\"pump\")||false;\n\tvar T1 = flow.get(\"RTD_1_1\"); //Kollektor\n\tvar T2 = flow.get(\"RTD_1_2\"); //Tank_top\n\tvar T3 = flow.get(\"RTD_1_8\"); //Tank_bottom\n\tvar solfangare_manuell_styrning = flow.get(\"solfangare_manuell_styrning\");\n    var dTStop_tank_1 = flow.get(\"dTStop_tank_1\"); // Temperaturdifferens mellan kollektor (T1) och Tank1 (T2) vid vilken pumpen stannar. (Inställbar 2 till (Set tank1 -2 °C) med fabriksinställning 3 °C)\n    var temp_kok = flow.get(\"temp_kok\");\n    var overheated = flow.get(\"overheated\")||false;\n\tvar msg1 = {};\n\tvar msg2 = {};\n\tvar msg3 = {};\n\tvar msg4 = {};\n\tvar msg5 = {};\n\tvar dT = T1-T2;\n\tvar dT_nice = parseFloat(dT.toFixed(2));\n\tvar mode = flow.get(\"mode\");\n\n\n\tif (sun == \"above_horizon\" && solfangare_manuell_styrning === false && dT > 3  && overheated === false){\n\t\tswitch (state) {\n\t\tcase  0:\n\t\t\t  pump = true;\n\t\t\t  //mode = 11;\n\t\t\t  flow.set(\"mode\", \"11\")\n\t\t\t  flow.set(\"pump\", pump);\n\t\t\t  flow.set(\"state\", 1)\n\t\t\t  flow.set(\"sub_state\", 1)\n\t\t\t  node.status({fill:\"green\",shape:\"dot\",text:\"11\"});\n\t\t   break;\n\t\t case 1:\n\t\t   if(sub_state == 1 ){\n\t\t\t   pump = false;\n\t\t\t   //mode = 01;\n\t\t\t   flow.set(\"mode\", \"01\")\n\t\t\t   flow.set(\"pump\", pump);\n\t\t\t   flow.set(\"state\", 0)\n\t\t\t   flow.set(\"sub_state\", 1)\n\t\t\t   node.status({fill:\"green\",shape:\"dot\",text:\"01\"});\n\t\t   }\n\t\t   node.status({fill:\"green\",shape:\"dot\",text:\"no action\"});\n\t\t   break;\n\t\t}\n\n\t\tmsg1.payload = pump;\n\t\tmsg2.payload = {\n\t\t\t\"Pump\": pump,\n\t\t\t\"state\": state,\n\t\t\t\"sub_state\": sub_state,\n\t\t\t\"mode\": mode,\n\t\t\t};\n\t\tmsg3.payload = state;\n\t\tmsg4.payload = sub_state;\n\n\t\treturn [msg1,msg2,msg3,msg4];\n\t}\n}\n\ncatch(err){\n    node.error(err)\n    node.status({fill:\"red\",shape:\"ring\",text:\"error\"});\n}\n\n","outputs":4,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":1060,"wires":[["52c7f168.37bed","bef35a8a.5a92c8"],["e0e23fa6.cdeae","ace37eac.08ce2"],[],[]]},{"id":"b0911d82.e3731","type":"inject","z":"dedb85dc.b133d8","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":290,"y":1060,"wires":[["aa5e3dd0.54a54","6fea03cd.ac454c"]]},{"id":"aa5e3dd0.54a54","type":"delay","z":"dedb85dc.b133d8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":400,"y":1140,"wires":[["6fea03cd.ac454c"]]},{"id":"4334670d.0d8be8","type":"server-state-changed","z":"dedb85dc.b133d8","name":"","server":"d83e7241.bcbce","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sun.sun","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":330,"y":480,"wires":[["baa80cc8.a8a7d"]]},{"id":"baa80cc8.a8a7d","type":"change","z":"dedb85dc.b133d8","name":"","rules":[{"t":"set","p":"sun","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":480,"wires":[[]]},{"id":"f2f68c8d.a1084","type":"4relind","z":"dedb85dc.b133d8","name":"Relä 1","stack":"2","relay":"1","payload":"payload","payloadType":"msg","x":1090,"y":1220,"wires":[["958b5e85.3459c"]]},{"id":"bef35a8a.5a92c8","type":"switch","z":"dedb85dc.b133d8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":1220,"wires":[["7ffb3316.de7fec"],["a94947c2.e34188"]]},{"id":"ace37eac.08ce2","type":"mqtt out","z":"dedb85dc.b133d8","name":"","topic":"rtd/solfangare_1","qos":"","retain":"","broker":"6bd6e4f6.b7533c","x":1200,"y":1040,"wires":[]},{"id":"7ffb3316.de7fec","type":"change","z":"dedb85dc.b133d8","name":"true 2 false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":1180,"wires":[["f2f68c8d.a1084"]]},{"id":"a94947c2.e34188","type":"change","z":"dedb85dc.b133d8","name":"false 2 true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":1260,"wires":[["f2f68c8d.a1084"]]},{"id":"5d897ada.4904b4","type":"server-state-changed","z":"dedb85dc.b133d8","name":"","server":"d83e7241.bcbce","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.solfangare_delta_temp_start_tank_1","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"","halt_if_type":"num","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":460,"y":120,"wires":[["dd435ee1.6c884"]]},{"id":"980ba04e.b5bde","type":"server-state-changed","z":"dedb85dc.b133d8","name":"","server":"d83e7241.bcbce","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.solfangare_delta_temp_stop_tank_1","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"","halt_if_type":"num","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":460,"y":180,"wires":[["5fb2c00c.816dd"]]},{"id":"75d292a2.af80dc","type":"server-state-changed","z":"dedb85dc.b133d8","name":"","server":"d83e7241.bcbce","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.solfangare_set_temp_tank_1","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"","halt_if_type":"num","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":430,"y":60,"wires":[["96fed653.bc82f8"]]},{"id":"5104cb06.c9f734","type":"server-state-changed","z":"dedb85dc.b133d8","name":"","server":"d83e7241.bcbce","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.solfangare_kylning_kollektor","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"","halt_if_type":"num","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":430,"y":240,"wires":[["8e3decfa.b342f"]]},{"id":"8e3decfa.b342f","type":"change","z":"dedb85dc.b133d8","name":"","rules":[{"t":"set","p":"kylning_kollektor","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":240,"wires":[["4c151dba.2c8494"]]},{"id":"6de677fb.a8c5d8","type":"server-state-changed","z":"dedb85dc.b133d8","name":"","server":"d83e7241.bcbce","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.solfangare_temp_kok","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"","halt_if_type":"num","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":410,"y":300,"wires":[["391b2ba5.a93fb4"]]},{"id":"391b2ba5.a93fb4","type":"change","z":"dedb85dc.b133d8","name":"","rules":[{"t":"set","p":"temp_kok","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":300,"wires":[["4c151dba.2c8494"]]},{"id":"4c151dba.2c8494","type":"debug","z":"dedb85dc.b133d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1290,"y":320,"wires":[]},{"id":"745425af.e8003c","type":"server-state-changed","z":"dedb85dc.b133d8","name":"","server":"d83e7241.bcbce","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.solfangare_manuell_styrning","entityidfiltertype":"exact","outputinitially":true,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":440,"y":360,"wires":[["d735cef4.5fb3d"],["d735cef4.5fb3d"]]},{"id":"d735cef4.5fb3d","type":"change","z":"dedb85dc.b133d8","name":"","rules":[{"t":"set","p":"solfangare_manuell_styrning","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":360,"wires":[["4c151dba.2c8494"]]},{"id":"d1ec0552.eb7608","type":"server-state-changed","z":"dedb85dc.b133d8","name":"","server":"d83e7241.bcbce","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.solfangare_pump","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":400,"y":420,"wires":[["84f6d377.142f9"],["84f6d377.142f9"]]},{"id":"84f6d377.142f9","type":"change","z":"dedb85dc.b133d8","name":"","rules":[{"t":"set","p":"pump_solfangare","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":420,"wires":[["4c151dba.2c8494"]]},{"id":"36599739.60f868","type":"rbe","z":"dedb85dc.b133d8","name":"","func":"narrowband","gap":"15%","start":"","inout":"out","property":"payload","x":690,"y":660,"wires":[["34c9011b.221d8e","59cb11a0.f1f97","844c9bb1eeefac50"]]},{"id":"22c312fd.84b5ae","type":"rbe","z":"dedb85dc.b133d8","name":"","func":"narrowband","gap":"15%","start":"","inout":"out","property":"payload","x":690,"y":800,"wires":[["a53e7b1d.153d58","f5b6e56b.171e58","2fe1a0024cb62e34"]]},{"id":"575145b7.ea142c","type":"inject","z":"dedb85dc.b133d8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":280,"y":1020,"wires":[["6fea03cd.ac454c"]]},{"id":"95312730.bfcb98","type":"debug","z":"dedb85dc.b133d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":520,"wires":[]},{"id":"a16eaeb6.4bd1","type":"debug","z":"dedb85dc.b133d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1090,"y":480,"wires":[]},{"id":"84182f2d.86921","type":"rbe","z":"dedb85dc.b133d8","name":"","func":"narrowband","gap":"5%","start":"","inout":"in","septopics":true,"property":"payload","topi":"topic","x":690,"y":560,"wires":[["823d4324.1686","72eb8546.da989c","c6d09ccb39642f5a"]]},{"id":"958b5e85.3459c","type":"debug","z":"dedb85dc.b133d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1290,"y":1220,"wires":[]},{"id":"11d1478.02e28b9","type":"function","z":"dedb85dc.b133d8","name":"Sammanställa data till HASS var 10 sek","func":"\n\ntry{\nnode.status({fill:\"blue\",shape:\"ring\",text:\"run\"});    \n\n\tvar T1 = flow.get(\"RTD_1_6_smooth\"); //Kollektor\n\tvar T2 = flow.get(\"RTD_1_7_smooth\"); //Tank_bottom\n\tvar T3 = flow.get(\"RTD_1_8_smooth\"); //Tank_top\n    var dT_running;\n\tvar dT_running_nice;\n\t\n\tvar msg1 = {};\n\tvar msg2 = {};\n\n\n\n\tvar dT = T1-T2;\n\tvar dT_nice = parseFloat(dT.toFixed(2));\n\tvar pump = flow.get(\"pump\")||false;\n\t\n\tif (pump === true) {\n\t  dT_running =  T1-T2;\n\t  dT_running_nice = parseFloat(dT_running.toFixed(2));\n\t}\n\telse{\n\t    dT_running =  0;\n\t    dT_running_nice = parseFloat(dT_running.toFixed(2));\n\t}\n\n    \n\n\tmsg1.payload = {\n\t\t\t\"T1\": T1,\n\t\t\t\"T2\": T2,\n\t\t\t\"T3\": T3,\n\t\t\t\"dT\": dT_nice,\n\t\t\t\"dT_running\": dT_running_nice,\n\n\n\t\t\t\n\t\t};\n\tmsg2.payload = dT_nice;\n\n\n\treturn [msg1,msg2];\n}\n\ncatch(err){\n    node.error(err)\n    node.status({fill:\"red\",shape:\"ring\",text:\"error\"});\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":1320,"wires":[["44805580.e0751c","833fa7e8.9b4cb8"],[]]},{"id":"ac4f2331.28b17","type":"change","z":"dedb85dc.b133d8","name":"","rules":[{"t":"set","p":"RTD_1_6","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":560,"wires":[[]]},{"id":"ff11c3ec.3b4fb","type":"change","z":"dedb85dc.b133d8","name":"","rules":[{"t":"set","p":"RTD_1_7","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":700,"wires":[[]]},{"id":"d13ac878.ab5748","type":"change","z":"dedb85dc.b133d8","name":"","rules":[{"t":"set","p":"RTD_1_8","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":840,"wires":[[]]},{"id":"72eb8546.da989c","type":"smooth","z":"dedb85dc.b133d8","name":"","property":"payload","action":"mean","count":"10","round":"1","mult":"single","reduce":false,"x":880,"y":560,"wires":[["ac4f2331.28b17"]]},{"id":"59cb11a0.f1f97","type":"smooth","z":"dedb85dc.b133d8","name":"","property":"payload","action":"mean","count":"10","round":"1","mult":"single","reduce":false,"x":880,"y":700,"wires":[["ff11c3ec.3b4fb"]]},{"id":"f5b6e56b.171e58","type":"smooth","z":"dedb85dc.b133d8","name":"","property":"payload","action":"mean","count":"10","round":"1","mult":"single","reduce":false,"x":880,"y":840,"wires":[["d13ac878.ab5748"]]},{"id":"30b3c8de.365f88","type":"inject","z":"dedb85dc.b133d8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":280,"y":1340,"wires":[["11d1478.02e28b9"]]},{"id":"44805580.e0751c","type":"mqtt out","z":"dedb85dc.b133d8","name":"","topic":"rtd/solfangare_2","qos":"","retain":"","broker":"6bd6e4f6.b7533c","x":880,"y":1340,"wires":[]},{"id":"833fa7e8.9b4cb8","type":"debug","z":"dedb85dc.b133d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":1420,"wires":[]},{"id":"8b367815e1211a29","type":"change","z":"dedb85dc.b133d8","name":"","rules":[{"t":"set","p":"RTD_1_6_smooth","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":520,"wires":[["bb3b7075b86d5c14"]]},{"id":"c6d09ccb39642f5a","type":"smooth","z":"dedb85dc.b133d8","name":"","property":"payload","action":"mean","count":"20","round":"1","mult":"single","reduce":false,"x":880,"y":520,"wires":[["8b367815e1211a29"]]},{"id":"5a378f64341fa644","type":"change","z":"dedb85dc.b133d8","name":"","rules":[{"t":"set","p":"RTD_1_7_smooth","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":660,"wires":[["539c747207ab706c"]]},{"id":"844c9bb1eeefac50","type":"smooth","z":"dedb85dc.b133d8","name":"","property":"payload","action":"mean","count":"20","round":"1","mult":"single","reduce":false,"x":880,"y":660,"wires":[["5a378f64341fa644"]]},{"id":"99a219993c45d2b4","type":"change","z":"dedb85dc.b133d8","name":"","rules":[{"t":"set","p":"RTD_1_8_smooth","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":800,"wires":[["351514bc228c0e2e"]]},{"id":"2fe1a0024cb62e34","type":"smooth","z":"dedb85dc.b133d8","name":"","property":"payload","action":"mean","count":"20","round":"1","mult":"single","reduce":false,"x":880,"y":800,"wires":[["99a219993c45d2b4"]]},{"id":"bb3b7075b86d5c14","type":"debug","z":"dedb85dc.b133d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1370,"y":480,"wires":[]},{"id":"3d56b47d53e60304","type":"debug","z":"dedb85dc.b133d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":760,"wires":[]},{"id":"24c291b5d6cc089f","type":"debug","z":"dedb85dc.b133d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":620,"wires":[]},{"id":"82d78c95f63d586f","type":"rtd","z":"dedb85dc.b133d8","name":"RTD_1_5","stack":"1","channel":"5","resistance":false,"payload":"payload","payloadType":"msg","x":560,"y":1500,"wires":[["b590b0215f0c9796"]]},{"id":"b590b0215f0c9796","type":"debug","z":"dedb85dc.b133d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":1500,"wires":[]},{"id":"87496cfc3a5e4374","type":"inject","z":"dedb85dc.b133d8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":390,"y":1500,"wires":[["82d78c95f63d586f"]]},{"id":"539c747207ab706c","type":"debug","z":"dedb85dc.b133d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1390,"y":660,"wires":[]},{"id":"351514bc228c0e2e","type":"debug","z":"dedb85dc.b133d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1390,"y":800,"wires":[]},{"id":"f642339a.d5755","type":"ui_group","name":"TEMPERATURE1","tab":"501903b1.f40adc","order":1,"disp":false,"width":"6","collapse":false},{"id":"d21675f5.4d9908","type":"ui_group","name":"TEMPERATURE2","tab":"501903b1.f40adc","order":2,"disp":false,"width":"6","collapse":false},{"id":"e5b51cb5.75436","type":"ui_group","name":"TEMPERATURE4","tab":"501903b1.f40adc","order":4,"disp":false,"width":"6","collapse":false},{"id":"513aa4ac.56bf6c","type":"ui_group","name":"Prod","tab":"7cae6dec.b978e4","order":1,"disp":true,"width":"6","collapse":false},{"id":"6bd6e4f6.b7533c","type":"mqtt-broker","name":"110","broker":"192.168.0.110","port":"1983","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"501903b1.f40adc","type":"ui_tab","name":"RTD","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"7cae6dec.b978e4","type":"ui_tab","name":"Solfångare Prod","icon":"dashboard","order":4,"disabled":false,"hidden":false}]